/* ABOUT US */
body{
    font-family: 'Montserrat', sans-serif;
}

.centrar{
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 3rem;   
    gap: .8rem;
}


.img-flex{
    border: 1px solid gray;
    border-radius: .5rem;
}

.texto-our p,h2{
    color: black; 
    text-align: center;

}


.grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: .5rem;
    margin: 2rem;
}

.img-grid{
    border: 1px solid gray;
    border-radius: .5rem;
    
}

.img-grid:hover{
    transform: scale(1.15);
    transition: 0.2s ease-out;

}


.imagenHeader{
    background-image: url(/IMG/barraImagen.jpg);
    width: 100%;

}


.flexAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 3rem;
}

      /* FOOTER */



      footer{
        background-color:  black;
        padding: 1rem 1rem 0;
        font-family:'Roboto Condensed', sans-serif;
        color: white;
    }
    
    footer a,p{
        font-size: 1rem;
        text-decoration: none;
        color: white;
    }
    
    .seccion-redes{
        display: block;
        margin-left: 1rem;
    }
    
    .icono-footer{
        width: 36px;
        height: 36px;
    }
    
    .icono-footer:hover{
        scale: 1.4;
    }
    
    
    .seccion-links{
        display: flex;  
        gap: 2rem;
        align-items:center;
        font-size: 1.3rem;
        margin-left: 2rem;
    
    }
    
    .seccion-links a {
        text-decoration: none;
        font-family: 'Prompt', sans-serif;
        inline-size: max-content;
    }
    
    .our-restaurant a:hover{
        scale: 1.2;
    }
    
    

    
    .ubicacion{
        padding: .5rem;
        border: solid 1px white;
        border-radius: 1rem;
    
    }
    
    .ubicacion a{
        display: flex;
        text-decoration: none;
        font-weight: bold;
        padding-bottom: .5rem;
        justify-content: center;
        /* font-size: 1.5rem; */
    }
    
    .copyright{
        display: flex;
        justify-content: center;
        color: white;
        }
    
    .flex-start{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .titulos-footer{
        font-weight: bold;
        margin-top: 0;
        font-size: 1.5rem;
    }
    
    .our-restaurant{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .iframe{
        border-radius: 1rem;
    
    }
    
    .contact{
        font-size: .7rem;
    }
    
 /* HEADER */

 .header{
    -webkit-box-shadow: 4px 11px 24px -13px rgba(0,0,0,0.8);
    -moz-box-shadow: 4px 11px 24px -13px rgba(0,0,0,0.75);
    box-shadow: 4px 11px 24px -13px rgba(0,0,0,0.8);
 }

 .contenedor {
    background: linear-gradient(to bottom, rgba(225, 222, 207, 0.3), rgba(179, 193, 176, 0.7));
}

.contenedor-secundario {
    background-image: url(/IMG/pexels-alleksana-6400028.jpeg);
    height: 50rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(187, 199, 175, 0.3),
            rgba(122, 205, 143, 0.1)),
        url(/IMG/pexels-alleksana-6400028.jpeg);
}

.header--menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
}


.navegacion a {
    text-decoration: none;
    background: linear-gradient(#d5c872, rgb(196, 199, 196));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1rem;
    font-family: 'Prompt', sans-serif;
    margin: 1rem;
  
    
}

.scale:hover{
 scale: 1.5;
}


.navegacion a:hover{
  
     transition: all 0.3s;
     color: #d6be26;
}

.titulo h1 a {
    color: #467852;
    font-family: 'Tilt Prism', cursive;
    font-size: 1.8rem;
}


.parrafo {
    font-size: 3rem;
    margin-top: 10rem;
    margin-left: 5rem;
    font-family: 'Playfair Display', serif;
}

.parrafo span {
    color: #d5c872;
}
